<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>

<h1>Please fill in the following:</h1>
<br>
<form action="/madlib">
  Please name a person: <input type="text" name="madlib_player">
  <br>
  Please provide a color: 
  <br>
    <input type="radio" id="pink" name="color" value="pink">
    <label for="pink">Pink</label><br>
    <input type="radio" id="yellow" name="color" value="yellow">
    <label for="yellow">Yellow</label><br>
  <br>
  Please provide a noun: <input type="text" name="noun">
  <br>
  Please provide an adjective: <input type="text" name="adjective">
  <br>
  <input type="submit">
</form>

</body>
</html>
